*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, cursive;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(./home-page-images/Photos-images-space-wallpaper-HD.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* overscroll-behavior: none; */
}
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
    background-color: black;
}
.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar .menu-btn {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}
.navbar .logo h2 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 700;
}
.navbar .links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar .links .dropdown {
    position: relative;
    display: inline-block;
}
.navbar .links .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(44, 44, 44);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.navbar .links .dropdown-content a {
    color: #fff;
    padding: 11px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}
.navbar .links .dropdown-content a:hover {
    background-color: #575757;
}
.navbar .links .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .links .active-btn a {
    color: #9f9f9f;
}

.navbar .links .close-btn {
    display: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5rem;
}
.navbar .links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.navbar .links a:hover {
    color: #9f9f9f;
}
.navbar .login-btn {
    color: #fff;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #009970;
}
.navbar .login-btn:hover {
    background-color: #00b383;
}




@media (max-width: 900px){
    .navbar :is(.menu-btn, .links .close-btn) {
        display: block;
    }
    .navbar {
        padding: 15px 0;
    }
    .navbar .logo h2 {
        font-size: 1.4rem;
    }
    .navbar .links {
        position: fixed;
        left: -100%;
        top: 0;
        width: 40%;
        height: 100vh;
        display: block;
        padding: 60px;
        text-align: left;
        background-color: rgb(44, 44, 44);
        transition: 0.2s ease;
    }
    .navbar .links.show-menu {
        left: 0;
    }
    .navbar .links a {
        color: #fff;
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
    }
    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}


/* login button  */
.login-btn {
    color: #fff;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #009970;
}
.login-btn:hover {
    background-color: #00b383;
}


/* blur background when popup form is open */
.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: none;
    backdrop-filter: blur(2px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}


/* popup form box  */
.form-popup {
    position: fixed;
    top: 85%;
    left: 50%;
    width: 70vw;
    opacity: 1;
    pointer-events: auto;
    background-color: #fff;
    border: 2px solid #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    transform: translate(-50%,-100%);
}

    /* show-popup to add this style to the form popup  */
/* .show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%);
    transition: transform 0.3s ease, opacity 0.1s;
} */

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

    /* sign-in box  */
.form-popup .form-box {
    display: flex;
}

    /* left-box */
.form-box .form-details {
    /* max-width: 10vw; */
    padding: 15px;
}
.form-box .form-details img {
    border-radius: 10px;
}
.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}
.form-box p {
    text-align: center;
    margin-bottom: 30px;
}

    /* right-box  */
.form-box .form-content {
    /* width: 35vw; */
    padding: 20px 40px 0 0;
}
form .input-field {
    height: 45px;
    width: 100%;
    margin-top: 20px;
}
form .input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.120);
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.116);
}
/* form .input-field ::placeholder {
    padding: 0 20px;
} */
form .input-field input:focus {
    border-color:grey;
}
.form-box a {
    color: rgb(2, 117, 216);
    text-decoration: none;
}
.form-box a:hover {
    text-decoration: underline;
}
form .form-link {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}
form button {
    width: 100%;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px 0;
    border: none;
    border-radius: 10px;
    margin-top: 13px;
}
form .login-in button {
    background-color: rgb(2, 127, 237);
    color: #fff;
}
form .google-sign-btn button{
    color: rgb(91, 91, 91);
    background-color: rgb(231, 229, 229);
}
form .login-in button:hover {
    background-color: rgb(1, 86, 160);;
}
form .google-sign-btn button:hover {
    color: #fff;
    background-color: rgb(119, 118, 118);
}
.form-box .bottom-link {
    padding: 20px 0;
    text-align: center;
}

/* style used to interchanage btw login and signup page  */
.form-popup .signup, 
.form-popup.show-signup .signin {
    display: none;
}
.form-popup.show-signup .signup {
    display: flex;
}


/* media query on the popup form box  */
@media (max-width: 888px) {
    .form-popup {
        
        max-width: 450px;
    }
    
    .form-box .form-details {
        display: none;
    }
    .form-box .form-content {
        padding: 30px 20px;
    }
}