/* search bar */

.sub-header{
    position: relative;
    height: 50vh;
    width: 100%;
    background-image: url("./our-team-images/wallpaperflare.com_wallpaper.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    /* margin-top: 100px; */
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    height: 20vh;
    /* flex-wrap: wrap; */
}
.container .search-bar-heading h2 {
    margin-top: 18%;
    color: #fff;
    font-size: 1.5rem;
}
.container .search-bar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.container .search-bar-content form {
    position: relative;
    display: flex;
    /* justfy-content: center; */
    align-items: center;

}
.container .search-bar-content form .txt{
    padding-left: 20px;
    font-size: 18px;
    border: none;
    height: 55px;
    width: 40vw;
}
.container .search-bar-content form .txt:focus{
    outline: none;
}
.container .search-bar-content form .btn{
    /* padding: 20px 20px; */
    background-color: #009970;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    height: 90%;
    width: 30%;
    position: absolute;
    right: 0;
}
.container .search-bar-content form .btn:hover{
    background-color: #00b383;
    cursor: pointer;
}

@media (max-width: 850px) {
    .container {
        flex-direction: column;
    }
    .container .search-bar-content form .txt{
        width: 90vw;
    }
    .container .search-bar-content form .btn{
        width: 25%;
    }
}
/* end  */


/* image slider  */
.slider {
    padding: 50px 0;
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.slider img {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
@keyframes fade {
    from {opacity: 0.5;}
    to {opacity: 1;}
}
/* end  */



/* Blogs & News */
.flex {
    display: flex;
    align-items: center;
}
.blog-news-container {
    padding-block: 20px;
    margin-top: 20px;
    margin-bottom: 70px;
}
.cards-container{
    max-width: 1180px;
    margin-inline: auto;
    /* overflow: hidden; */
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
    align-items: start;
}
.card {
    color: #fff;
    width: 360px;
    min-height: 400px;
    box-shadow: 1px 1px 4px rgb(24, 24, 24);
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
}
.card:hover {
    box-shadow: 2px 2px 8px rgb(56, 56, 56);
    /* background-color: ; */
    transform: translateY(-1px);
}
.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content {
    padding: 12px;
}
.news-source {
    margin-block: 12px;
}
.read-more {
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    border-bottom: 2px solid #fff;
    transition: 0.3s;
    
}
.read-more:hover {
    background-color: transparent;
    font-size: 1.05rem;
    color: #828080;
    border-bottom: 2px solid #aaa9a9;
}