.sub-header{
    position: relative;
    height: 50vh;
    width: 100%;
    background-image: url("./our-team-images/wallpaperflare.com_wallpaper.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    /* margin-top: 100px; */
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact {
    min-height: 60vh;
    padding: 50px;
    text-align: center;
    margin-top: 150px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.container h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #fff;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin-left: 5%;
}

.contact-form, .contact-info {
    text-align: left;
}

.contact-form h3, .contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
    margin-top: 8px; /* Add some space between form elements */
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 8px; /* Add border-radius for consistency */
}

button:hover {
    background-color: #45a049;
}

.contact-info p {
    margin-bottom: 10px;
    color: #ffffff8d;
}

.contact-info i {
    color: #4caf50;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .contact-wrapper {
        grid-template-columns: 1fr;
    }
}